# Settings in the [build] context are global and are applied to all contexts
# unless otherwise overridden by more specific contexts.
[build.environment]
  REACT_APP_SENTRY_ENVIRONMENT = "production"
  SENTRY_ENVIRONMENT = "production"
  # Prevent Netlify's prerender extension from crashing deploy by using Node 20
  NODE_VERSION = "20"

# Attempt to set Sentry environment for deploy previews. Also set in GH secrets.
[context.deploy-preview.environment]
  REACT_APP_SENTRY_ENVIRONMENT = "deploy-preview"
  SENTRY_ENVIRONMENT = "deploy-preview"

# TODO: if using route-based code splitting w/cache (???), look into Headers:
# https://docs.netlify.com/configure-builds/file-based-configuration/#headers
