.fade-enter {
  opacity: 0;
  position: absolute;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 350ms linear 350ms;
}

/* TODO: rm once confirmed everything's cool */
/* .fade-exit { opacity: 1; } */

.fade-exit.fade-exit-active {
  transform: translateY(20px);
  opacity: 0;
  transition: all 250ms linear;
}
